* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}


hr {
    color: #e5e5e5;
    opacity: .3;
}


    /* Container */
.container {
    max-width: 1024px;
    width: 100%;
    height: 100%;

    margin: 0 auto;

}


    /* Header */
.header {
    background: #fff;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header__item {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__item:last-child {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.header__logo {
    font-size: 64px;
    color: #fff;

    position: absolute;
    top: 4px;
    left: 16px;
    z-index: 1;
}

.header__logo-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5094f2;

    position: relative;

    margin: 22px 0 15px 31px ;
}

.header__title {
    padding-left: 16px;
}

.header__title a {
    text-decoration: none;
    color: #000;
}


    /*Nav*/

.nav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.nav__link {
    text-decoration: none;
    font-size: 20px;
    color: #6c6c6c;

    position: relative;



    padding-bottom: 23px;

}

.nav__link:hover {
    border-bottom: 3px solid #5094f2;
}



    /* Section */

.section {
    margin-bottom: 33px;
}

.section__wrap {
    height: 490px;

    background: url(../img/intro-bg_02.jpg) center no-repeat;
    background-size: cover;
    
}

    /* Intro */

.intro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.intro__image {
    position: absolute;
    top: 38px;
    left: 62px;
    z-index: 1;
}

.intro__title {
    font-size: 42px;
    color: #fff;

    margin-bottom: 26px;
}

.intro__text {
    font-size: 26px;
    color: #fff;

    margin-top: 22px;
}

.intro__button {
    font-size: 22px;
    color: #fff;

    width: 173px;
    height: 41px;

    background: #5094f2;
    margin-left: 11px;
    margin-top: 37px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;

    text-decoration: none;

    transition: background .2s linear, color .2s linear;
}

.intro__button:hover {
    background: #fff;
    color: #5094f2;
}

.fas {
    margin-right: 11px;
}

    /* Info  */
.info {
    display: flex;
    justify-content: space-between;

    position: relative;
}

.info__item {
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info__content {
    text-align: center;
}

.info__title h1 {
    font-size: 30px;
    color: #5094f2; 

    padding: 30px 0 10px;
}    

.info__text {
    font-size: 15px;
    color: #909090;
}

    /* Product */
.product {
    display: flex;
    justify-content: space-between;

    padding: 95px 0 33px 0;
}

.product__item {
    width: 50%;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    padding-bottom: 20px;

    color: #6f7173;
}

.product__title h1 {
    font-size: 42px;

    padding-bottom: 35px;
}

.product__title h2 {
    font-size: 26px;

    margin-bottom: 37px;
}

.product__title p {
    font-size: 15px;
    line-height: 2;
}

    /* Footer */
.footer__item {
    font-size: 15px;
    color: #909090;
    text-align: center;

    margin: 34px 0 48px;
}

@media (max-width: 768px) {
        /* Header */
    .header__title h1 {
        font-size: 25px;
    }

     
        /* Nav */

    .nav {
        display: none;
    }


        /* Intro */
    .intro {
        position: inherit;
        justify-content: space-around;
    }

    .intro__image {
        height: 215px;

        position: inherit;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__text {
        font-size: 22px;
    }


        /* Section */
    .section {
        margin-bottom: 0;
    }

    .section__wrap {
        height: inherit;
        padding: 30px 0;
    }    


        /* Info */

    .info {
        flex-wrap: wrap;
    }

    .info__item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        position: relative;

        border-bottom: 1px solid #ccc;
    }

    .info__image {
        width: 40%;
        display: flex;
        justify-content: center;
    }

       .info__content {
        text-align: left;
        width: 60%;
    }

    .info__title {
        font-size: 34px;
    }

    .info__title h1 {
        padding-top: 0;
        padding-bottom: 10px;
    }

    .info__text {
        font-size: 20px;
    }


    /* Product */
    .product {
        flex-wrap: wrap;
        padding: 50px 0;
    }

    .product__item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product__title {
        width: 100%;
        text-align: center;
    }

    .product__basket {
        width: 100%;
        text-align: center;
    }

    .product__title--wrap {
        display: flex;
    }

    .product__title:last-child {
        text-align: left;
    }

    .product__title h2 {
        font-size: 34px;
    }

    .product__title p {
        font-size: 17px;
    }

}

@media (max-width: 320px) {

}